<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomTransition-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B5CEDFD1C66D44E003D0D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5CEE111C66D44F003D0D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5CEE1C1C66D44F003D0D6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
